// Specific CSS for your home-page
h1 {
  font-family: 'Ranga', cursive;
}

.homepage-container {
  color: #ffffff;
  width: 100%;
  background-size: cover;
  height: 800px;

.homepage-text {
  // background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur( 1px);
  background-color: rgba(91,92,116,0.5);
  box-shadow: 0 -1px 16px 16px rgba(91,92,116,0.5);
  border-radius: 5px;
  padding: 10px;
  left: 25%;
  top: 45%;
  text-align: center;
  position: absolute;

}
// .btn {
//   background-color: #3B7501;
//   border: none;
//   color: white;
//   padding: 15px 32px;
//   border-radius: 12px;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   font-size: 16px;
//   transition-duration: 0.1s;
// }

// .btn:hover {
//   background-color: #4CAF50; /* Green */
//   color: white;
// }

}
