.booking-index-card {
  background-color: white;
  margin-top: 16px;
  padding-top: 16px;
  padding-bottom: 8px;
  padding-left: 8px;
}

a {
  color: #1CDD87;
  text-decoration: none;
}

.booking-index-date {
  letter-spacing: 3px;
  font-size:large ;
  padding-left: 6px;
}

.booking-index-book-again {
  padding-top: 8px;
  padding-left: 2%;
}

.booking-index-leave-review {
  padding-top: 8px;
  padding-right: 4%;
}

.booking-links {
  border-top: 2px solid #F4F4F4;
  margin-top: 8px;
  
.back-to-chefs {
  margin-top: 16px;
}
