.user-profile-avatar {
   border-radius: 50%;
  height: 100px;
  position: absolute;
  left: calc(50% - 50px);
  top:-50px;
  border: 1px solid white;
  }

  .profile-header {
    display: flex;
    justify-content: space-between;
  }

  .profile-header h5 {
    margin-top: 24px;
  }

  .profile-header a {
    text-decoration: none;
  }

  .cards {
    align-items: center;
    width: 100%;
    padding: 0;
  }

  .card-profile {
    background-color: white;
    align-items: center;
    flex: 1;
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 4px;
    box-shadow: 2px 2px 8px rgba(200, 200, 200, 0.5);
  }

  .card-profile h2 {
    font-size: 20px;
    margin-bottom: 16px;
    margin-top: 8px;

  }

  .card-profile p {
    font-size: 12px;
  }

  .create-chef {
    width: 100%;
    margin-bottom: 24px;
  }

  h1 {
    margin-top: 16px;
    margin-bottom: 0px;
  }
