.chef-profile-avatar {
  border-radius: 50%;
  height: 100px;
  position: absolute;
  left: calc(50% - 50px);
  top:-50px;
  border: 1px solid white;
  // position: center;
}

.chef-profile-food-image {
  margin-top: 50px;
  padding: 4px;
  position: relative;
}

.form {
    position: absolute;
    width: 400px;
}
