
<div class="homepage-container" style="background-image: url('https://images.unsplash.com/photo-1600663791817-d74f5196ba29?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=774&q=80');">
  <div class="homepage-text">
    <h1>Chire</h1>
    <h2>Chef for hire</h2>
    <div class="logo">
    <button type="button" class="btn btn-success">Let's dine in!</button>
  </div>
</div>
